[Unit]
Description=Edge service
Wants=network-online.target
After=network.target network-online.target
StartLimitInterval=300
StartLimitBurst=5

[Service]
KillMode=process
Restart=always
RestartSec=30
ExecStart=/opt/edge/edge
StandardOutput=null
StandardError=syslog
SyslogIdentifier=edge
KillMode=process

[Install]
WantedBy=multi-user.target
