# Configuration file for fw_(printenv/saveenv) utility.
# Up to two entries are valid, in this case the redundant
# environment sector is assumed present.
# Unneeded entries will commented out in post_build script

# Device name          Device offset   Env. size  Flash sector size
/dev/mtd:u-boot-env-a     0x00000       0x20000      0x20000
/dev/mtd:u-boot-env-b     0x00000       0x20000      0x20000
