# Rules for MMC mount -*- conf -*-

KERNEL=="mmcblk[0-9]p[0-9]", SUBSYSTEM=="block",	ACTION=="add",	PROGRAM="/bin/systemd-escape -p --template=usb-mount@.service $env{DEVNAME}", ENV{SYSTEMD_WANTS}+="%c"
