/output
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc

# ignore our git clones brought in via Repo
/package/lrd/externals/*
/package/lrd-closed-source/externals/*
!/board/boundarydevices/common/etc/*

# ignore configs directory, except for the files we want:
/configs/*
!/configs/msd*_defconfig
!/configs/wb*_defconfig
!/configs/reglwb*_defconfig
!/configs/bdimx6_rdvk_defconfig
!/configs/backports_defconfig
!/configs/som60*_defconfig
!/configs/ig60*_defconfig
!/configs/firmware_defconfig
!/configs/summit_supplicant*_defconfig
!/configs/sterling_supplicant*_defconfig
!/configs/mfg*_defconfig
!/configs/adaptive_ww*_defconfig
!/configs/backports-test_defconfig
# note the above is necessary to avoid customer configs.
