CONFIG_SYSTEMD=y
CONFIG_SOCKET_CTRL_PATH="/tmp/sockinstctrl"
CONFIG_SOCKET_PROGRESS_PATH="/tmp/swupdateprog"
CONFIG_DOWNLOAD=y
CONFIG_DOWNLOAD_SSL=y
CONFIG_HASH_VERIFY=y
CONFIG_BOOTLOADERHANDLER=y
CONFIG_CFI=y
CONFIG_RAW=y
CONFIG_SHELLSCRIPTHANDLER=y
CONFIG_UBIVOL=y
# CONFIG_UBIATTACH is not set
CONFIG_SIGNED_IMAGES=y
CONFIG_SIGALG_RAWRSA=y
