# Configuration file for fw_(printenv/saveenv) utility.
# Up to two entries are valid, in this case the redundant
# environment sector is assumed present.
# Unneeded entries will commented out in post_build script

# Device name          Device offset   Env. size  Flash sector size
/dev/mtd1				0x00000			0x2000		0x1000			2
