# This service is needed as a backup to udev rule on SD builds because /boot
# is not mounted at coldplug event time.

[Unit]
Description=Set Ethernet controller MAC addresses
After=local-fs.target
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/setmac-service.sh

[Install]
WantedBy=network.target
