[Unit]
BindsTo=%i.device
After=%i.device
Description=Mount USB Drive on /%I

[Service]
Type=simple
RemainAfterExit=yes
Environment=DEVNAME=/%I
ExecStart=/usr/bin/usb-mount.sh add /%I
ExecStop=/usr/bin/usb-mount.sh remove /%I
