CONFIG_CROSS_COMPILE="/home/sean/projects/master/wb/buildroot/output/bdimx6_rdvk/host/bin/arm-buildroot-linux-gnueabihf-"
CONFIG_SYSROOT="/home/sean/projects/master/wb/buildroot/output/bdimx6_rdvk/host/arm-buildroot-linux-gnueabihf/sysroot"
CONFIG_EXTRA_CFLAGS="-D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64  -Os  "
CONFIG_DOWNLOAD=y
CONFIG_DOWNLOAD_SSL=y
CONFIG_WEBSERVER=y
CONFIG_RAW=y
CONFIG_SHELLSCRIPTHANDLER=y
CONFIG_BOOTLOADERHANDLER=y
