[Unit]
Description=Mount Data Partition
DefaultDependencies=false
Wants=fskey.service
After=fskey.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/mount_data.sh start
ExecStop=/usr/sbin/mount_data.sh stop
KeyringMode=inherit

[Install]
WantedBy=local-fs.target.wants
