# Rules for USB mount -*- conf -*-

SUBSYSTEM=="block", ACTION=="add",    ENV{ID_BUS}=="usb", ENV{ID_FS_USAGE}=="filesystem", RUN+="/usr/bin/usb-mount.sh add    $env{DEVNAME}"
SUBSYSTEM=="block", ACTION=="remove", ENV{ID_BUS}=="usb", ENV{ID_FS_USAGE}=="filesystem", RUN+="/usr/bin/usb-mount.sh remove $env{DEVNAME}"
