# Rules for MMC mount -*- conf -*-

SUBSYSTEM=="block", ACTION=="add", ENV{ID_FS_USAGE}=="filesystem", ENV{DEVNAME}=="/dev/mmcblk[0-9]p[0-9]", PROGRAM="/bin/systemd-escape -p --template=usb-mount@.service $env{DEVNAME}", ENV{SYSTEMD_WANTS}+="%c"
