#
# Laird Connectivity Sentrius IG60 Card Detect Service
#
# Populates one or more runtime directories to indicate
# add-on card availability.  These directories can then
# be used by follow-on services (e.g., "ConditionPathExists=...")
#
[Unit]
Description=IG Card Detect Service
Wants=local-fs.target
After=local-fs.target
Before=getty.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=sh -c "[ `cat /sys/devices/platform/gpio/card_detect1/value` -eq 0 ] || mkdir -p /run/ig-card-detect/serial"

[Install]
WantedBy=multi-user.target
