[Unit]
Description=Create USB Ethernet Gadget

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/usb-gadget.sh start
ExecStop=/usr/bin/usb-gadget.sh stop

[Install]
WantedBy=multi-user.target
