[Unit]
Description=Create USB Ethernet Gadget

[Service]
RemainAfterExit=yes
EnvironmentFile=/etc/default/usb-gadget
ExecStart=/usr/bin/usb-gadget.sh start "${USB_GADGET_ETHER}" "${USB_GADGET_SERIAL_PORTS}"
ExecStop=/usr/bin/usb-gadget.sh stop

[Install]
WantedBy=multi-user.target
