BR2_arm=y
BR2_WGET="wget --passive-ftp -nd"
BR2_DL_DIR="$(TOPDIR)/../archive"
BR2_JLEVEL=16
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH=""
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="arm-laird-linux-gnueabi"
BR2_TOOLCHAIN_EXTERNAL_HEADERS_3_15=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
# BR2_TOOLCHAIN_EXTERNAL_INET_RPC is not set
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TARGET_GENERIC_HOSTNAME=""
BR2_TARGET_GENERIC_ISSUE=""
BR2_INIT_NONE=y
BR2_ROOTFS_DEVICE_TABLE=""
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="$(TOPDIR)/board/laird/skeleton-empty"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/laird/msd50n/post_build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/laird/msd50n/post_image.sh"
# BR2_PACKAGE_BUSYBOX is not set
BR2_PACKAGE_LIBEDIT=y
BR2_PACKAGE_CRDA=y
BR2_TARGET_ROOTFS_TAR_BZIP2=y
BR2_PACKAGE_OPENSSL_FIPS=y
BR2_PACKAGE_EVENTMON=y
BR2_PACKAGE_SDCSDK=y
BR2_PACKAGE_SDCCLI=y
BR2_PACKAGE_SDCSUPP=y
BR2_PACKAGE_SDC2U=y
BR2_PACKAGE_WEB_LCM=y
BR2_PACKAGE_LAIRD_FIRMWARE=y
BR2_PACKAGE_LAIRD_FIRMWARE_AR6003=y
BR2_PACKAGE_LAIRD_FIRMWARE_AR6004=y
BR2_PACKAGE_LAIRD_FIRMWARE_BT=y
