[Unit]
Description=IG Configuration Service
Wants=network.target igprovd.service
After=network.target igprovd.service

[Service]
Type=notify
ExecStart=python3 /usr/bin/igconfd
KeyringMode=inherit
Restart=always
RestartSec=5
StartLimitAction=reboot
StartLimitInterval=120
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
