[Unit]
Description=IG Configuration Service
Wants=network.target igprovd.service
After=network.target igprovd.service

[Service]
Type=notify
ExecStart=python3 /usr/bin/igconfd
KeyringMode=inherit

[Install]
WantedBy=multi-user.target
