
/* Side Menu Options */
		#sideColumn {
			float:left;
			position:relative;
			top:0px;
			left:0px;
			width:175px;
			margin:15px 30px 10px 10px;
			padding:15px 15px 0 15px;
			display:inline;
			}
		#sideColumn a {
			color:#000000;
			text-decoration:none;
			}
		#sideColumn a.selected, #sideColumn a:hover, #sideColumn a.listHead:hover{
			color:#ee0000;
			}
		#sideColumn a.pageOn {
			color:#ee0000;
			font-weight:bold;
			}
		#sideColumn li{
			margin:0 0 0 40px;
			list-style-image:url(../img/bullet_minor.bmp);
			}
		#sideColumn a.listHead {
			color:#a0a0a0;
			cursor:pointer;
			margin:0;
			}
		.menuBlock {
			padding:0 0 20px 0;
			margin:0 0 20px 0;
			border-bottom:2px #969696 solid;
			}
/* Side Menu Options End*/

/* Main Column */
	#mainMenu {
		border-bottom:2px solid #e6e6e6;
		height:30px;
		}
	#mainColumn {
		left:-5px;
		top: 17px;
		width:620px;
		position:relative;
		float:left;
		color:#000000;
		padding:0px 0 0 0;
		border-left:2px solid #e6e6e6;
		}
	#footer {
		font-size:9px;
		float:left;
		top:100px;
		left:0px;
		width:500px;
		color:#a0a0a0;
		margin:20px;
		padding:20px;
		border-top:2px solid #e6e6e6;
		}
/* Main Column End*/
	
/* Tabs */
	h1 {
		font-size:26px;
		padding:0 0 0px 20px;
		}
	h2 {
		font-size:22px;
		padding:0 0 20px 20px;
		}
	ul#tabs { 
		list-style-type: none; 
		margin: 0px 0 0 0; 
		padding: 5px 0 5px 0;
		background:#e6e6e6;
		letter-spacing:1.75px;
		}
	ul#tabs li {
		display: inline;
		padding-left:35px;
		padding-right:35px;
		}
	ul#tabs li a { 
		color: #a0a0a0; 
		background-color: #e6e6e6; 
		text-decoration: none;
		font-size:16px;
		
		}
	ul#tabs li a:hover, ul#tabs li a.selected {color: #ee0000; }
	div.tabContent {
		padding:20px;
		display:block;
		}
	div.tabContent.hide {display:none;}
	
	div.tabContent a {
		text-decoration:none;
		color:#ee0000;
		}
/* Tabs End*/

/* Overview */
	#prodImg {
		float:left;
		position:relative;
		top:10px;
		left:0px;
		height:204px;
		width:250px;
		border:none;
		}
	#desc {
		font-size:14px;
		float:left;
		position:relative;
		top:0px;
		left:0px;
		width:300px;
		text-decoration:none;
		}
	#desc p {font-size:14px;}
/* Overview End*/

/* Specifications */
	th, td {
		font-family:Arial, Helvetica, sans-serif;
		border-left:1px #a5a5a5 solid;
		border-top:1px #a5a5a5 solid;
		padding:5px 20px 5px 5px;
		background-color:#FFFFFF;
		}
	th {
		background-color:#e6e6e6;
		font-size:14px;
		vertical-align:top;
		width:200px;
		text-align:left;
		font-weight:bold;
		}
	td {
		font-size:12px;
		border-right:1px #a5a5a5 solid;
		}
	#specTable span {
		position:absolute;
		left:350px;	
		}
	#specTable li {
		list-style:none;
		font-weight:normal;
		}
	#specTable ul {
		font-weight:bold;
		padding:0 0 20px 0;
		}
/* Specifications End*/
	
/* Certification */
	#certs li {
	padding:0px 10px 0 0px;
	margin:0 0 0 30px;
		list-style:url(img/bullet_main.bmp);
		}
	#certs p {
		padding:0 0 10px 0;
		font-size:16px;
		}
	#certs ul {
		padding:0 0 10px 0;
		}
/* Certification End*/