[Unit]
Description= Do factory reset
Wants=mount_data.service
After=mount_data.service
Before=weblcm-python.service NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/do_factory_reset.sh check
KeyringMode=inherit

[Install]
WantedBy=multi-user.target
